<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Material List</title>
</head>
<body>
<header th:insert="~{header :: header}"></header>
<h2>Material List</h2>
<form method="POST" th:action="@{/material-list}" th:object="${getMaterialListForm}">
    <label>
        Product Name:
        <select id="productNameInput" th:field="*{productName}">
            <option th:each="productName : ${productNames}" th:text="${productName}" th:value="${productName}"></option>
        </select>
    </label>
    <button id="getMaterialListButton" type="submit">Get Material List</button>
</form>
<table>
    <thead>
    <tr>
        <th style="width: 60%">Name</th>
        <th style="width: 40%">Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="quantifiedMaterial : ${quantifiedMaterials}">
        <td th:text="${quantifiedMaterial.getName()}"></td>
        <td th:text="${quantifiedMaterial.getAmount}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>